body {
    padding: 0;
    margin: 0;
    background-color: #ff6666;
    color: whitesmoke;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .center{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
  }
  button {
  padding: 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  }

  canvas {
    display: block;
  }
  
  input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

  }