* {
    box-sizing: border-box;
}

p {
    display: inline;
}

html, body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.intro_header {
    font-size: 60px;
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 3; 
}

.inter_light {
    font-weight: 300;
}

.inter_thin {
    font-weight: 100;
}

.background {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh; 

}

.background img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;


}

.pink_blob {
    left: 0;
    top: 0;
    bottom: 0; 
    z-index: 1;
    height: 100vh;
    width: 100%;
    height: 100%;
}

.yellow_blob {
    top: 0;
    right: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    height: 100%;
}

.purple_blob {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto; 
    z-index: 1;
    width: 100%;
    height: 100%;
}

.picture {
    display: block;
    bottom: 0;
    right: 220px;
    z-index: 3;
}



.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 70px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: auto;
    height: auto;
}

.stars {
    display:block;
    position: absolute;
    right: 200px;
    top: 100px;
    z-index: 3;
    width: auto;
    height: auto;
}

.nav{
    z-index: 5;

    ul {
        display: block;
        margin: 0;
        padding: 50px 4px 17px 80px;
        list-style-type: none;
        z-index: 3;
    } 

    ul li { 
        display: inline-block;
        position: relative;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s;
    }

    ul li::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: black;
        transition: height 0.3s;
    }

    ul li:hover::after {
        height: 3px; 
    }
}

.posterproj{
    background-color: #FEFFF6;
}
.posterproj .project_container_body{
    align-self: center;
}
.heartsteelproj{
    background-color: #FEF5FF;
}
.packageproj{
    background-color: #ECE5FF;
}
.mbdproj{
    background-color: #FEFFF6;
}
.big_proj_container{
    padding: 12px 24px;
    margin-top: 10vh; 
    
}
.project_container_body{
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; 
    gap: 16px;
    align-items: flex-start; 
}
.project_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 30px;
    padding-top: 16px;
    padding-bottom: 32px;
    margin-bottom: 16px;

}
div {
    display: block;
}
.project_img{
    position: relative;
    left: 100px;
    align-items: flex-start; 
    display: flex;
    padding: 0; 
}
 .project_page .project_img {
    flex: 0 0 auto;
    margin-right: 20px;

 }
 .project_page .project_container_body{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
 }

 .button {
    background: #fff;
    border-radius: 32px;
    border: 2px solid #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: #111;
    height: 42px;
    text-decoration: none;
 }
 .prog_info{
    left:0;
 }
 .project_page .overview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start; 
    align-items: flex-start; 
}
#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
    background-color: #007bff;
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #0056b3; 
}
@media screen and (min-width: 1280px) and (min-height: 382px) {
    .picture {
        right: 180px; 
        bottom: 0;
        transform: scale(1);
        padding: 0;
        align-items: baseline;
    }

    .pink_blob {
        transform: scale(1.2);
        align-items: baseline;
        bottom: 0; 
    }

    .yellow_blob {
        transform: scale(1.2); 
    }

    .purple_blob {
        transform: scale(1.2);
        bottom: 0;
        align-items: baseline; 
    }
}
@media screen and (max-width:768px){
    .nav ul {
        padding: 20px; 
    }

    .intro_header {
        top: 100px; 
    }
    .project_page {
        display: flex;
        position:static;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        width: 100%;
        max-width: 100%;
        gap: 30px;
        padding-top: 16px;
        padding-bottom: 32px;
        margin-bottom: 16px;
    }

    .project_img {
        position: relative;
        align-self: center; 
        left: 0;
        margin-top: 20px; 
    }
    .project_container_body {
        position: relative; 
        left: 0; 
        text-align: left; 
        margin-top: 20px;
    }
    .horizontal{
        transform: scale(.7);
    }
    .mbdproj .overview,
    .packageproj .overview {
        position: unset;
        left: auto;
        right: auto;
    }
    .background{
        margin: 0;
        
    }
    .prog_info{
        position: relative;
        left: 0px;
        align-self: flex-start;
    }
    body{
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;

    }
    .back_img {
        flex-direction: column;
        align-items: flex-start;
    }
    .back_img img {
        max-width: 100%;
        display: flex;
        height: auto;
        margin-top: 20px;
    }
    .pink_blob {
        position: fixed;
        top: 0px;

        bottom: 0;
        align-items: baseline;
        transform: scale(2); 
    }
    .purple_blob{
        position: fixed; 
        bottom: auto;
        right: 0; 
        top: 0px; 
        z-index: 1;
        align-items: baseline;
        transform: scale(2);  
    }
    .yellow_blob{
        position: fixed; 
        bottom: auto; 
        right: 0;
        top: auto;
        transform: scale(2); 


    }
    .picture{
        transform: scale(1);
        position: fixed;
        bottom: 65px;
        left: 70px;
    }
    .nav{
        z-index: 5;
        font-weight: 400;
        position: inherit;
        left: 80px;
        top: 120px;
        margin: 0;
        align-items: center;
    
        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            z-index: 3;
        } 
    
        ul li { 
            display: inline-block;
            position: relative;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s;
        }
    
        ul li::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: black;
            transition: height 0.3s;
        }
    
        ul li:hover::after {
            height: 3px; 
        }
    }
    .stars{
        right: 50px;
        top: 200px;
        transform: scale(.9);

    }
    .intro_header{
        font-size: 30px;
        top: 300px;
        left:10px;
    }
    .inter_thin{
        width: 200px;

    }
}

/* if you made it here, i know it's a mess.
I went back to look at my media query for a phone again by sizing the 
window down instead of using the inspect function and it worked
just the way i wanted to. safe to say i shot myself in the foot during
the presentation last week. hope you have a great day! */


    
